<!doctype html>
<html>
    <head>
      {% if title %}
      <title>{{ title }} - Forum des métiers</title>
      {% else %}
      <title>Forum des métiers</title>
      {% endif %}
    </head>
    <body>
        <div>
            Forum des métiers:
            <a href="{{ url_for('dashboard') }}">Acceuil</a>
            <a href="{{ url_for('login') }}">Connexion</a>
            <a href="{{ url_for('logout') }}">Déconnexion</a>
        </div>
        <hr>
        {% block content %}{% endblock %}
    </body>
</html>