{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <h1 class="mb-4">Tableau de bord</h1>

    {% if wish is not none %}
    <div class="card">
        <div class="card-body">
            <h2 class="card-title">Liste des voeux dans l'ordre :</h2>
            <ol class="list-group list-group-numbered">
                {% for w in wish %}
                <li class="list-group-item">{{ w }}</li>
                {% endfor %}
            </ol>
        </div>
    </div>
    {% if OpenWhish %}
    <div class="mt-3">
        <a href="{{ url_for('jobselection') }}" class="btn btn-primary">Changer les vœux</a>
    </div>
    {% endif %}
    {% else %}
    {% if OpenWhish %}
    <div class="alert alert-warning" role="alert">
        Veuillez enregistrer vos vœux !
    </div>
    <a href="{{ url_for('jobselection') }}" class="btn btn-primary">Enregistrer vos vœux</a>
    {% else %}
    <div class="alert alert-danger" role="alert">
        Les vœux sont clos. Si vous voyez ce message veuillez prévenir votre professeur principal ou un professeur en charge du forum des métiers.
    </div>
    {% endif %}
    {% endif %}
</div>
{% endblock %}
