{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <h1 class="mb-4">Résumé des choix</h1>

    {% if s is defined %}
    <table class="table table-bordered table-striped">
        <thead class="thead-light">
            <tr>
                <th scope="col">Élève</th>
                <th scope="col">Classe </th>
                <th scope="col">Voeux 1</th>
                <th scope="col">Voeux 2</th>
                <th scope="col">Voeux 3</th>
                <th scope="col">Voeux 4</th>
                <th scope="col">Voeux 5</th>
                
            </tr>
        </thead>
        <tbody>
            {% for l in s %}
            <tr>
                <td> <a href="{{ url_for('editWhish', id=l[7]) }}">{{ l[0] }}</a> </td>
                <td>{{ l[1] }}</td>
                <td>{{ l[2] }}</td>
                <td>{{ l[3] }}</td>
                <td>{{ l[4] }}</td>
                <td>{{ l[5] }}</td>
                <td>{{ l[6] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <div class="alert alert-danger">
        Une erreur c'est produite.
    </div>
    {% endif %}
</div>
{% endblock %}