{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <h1 class="mb-4">Panneau d'administration professeur</h1>

    <h2>Actions</h2>
    <ul class="list-group">
        <li class="list-group-item">
            <a href="{{ url_for('jobsCreation') }}" class="btn btn-link">Ajouter un métier</a>
        </li>
        <li class="list-group-item">
            <a href="{{ url_for('registerUser') }}" class="btn btn-link">Créer un utilisateur manuellement</a>
        </li>
        <li class="list-group-item">
            <a href="{{ url_for('batchRegister') }}" class="btn btn-link">Importer une liste d'élèves</a>
        </li>
        <li class="list-group-item">
            <a href="{{ url_for('dashboard') }}" class="btn btn-link">Changer le mot de passe d'un élève (non implémenté)</a>
        </li>
        <li class="list-group-item">
            <a href="{{ url_for('dashboard') }}" class="btn btn-link">Changer les voeux d'un élève (non implémenté)</a>
        </li>
    </ul>

    <h2 class="mt-5">Status</h2>
    {% if nbStudent >= 1 %}
    <div class="list-group">
        <div class="list-group-item">
            <strong>Nombre de métiers :</strong> {{ jobsNb }}
        </div>
        <div class="list-group-item">
            <strong>Nombre d'élèves inscrits :</strong> {{ nbStudent }}
        </div>
        <div class="list-group-item">
            <strong>Nombre d'élèves ayant fait leurs voeux :</strong> {{ nbWish }} ({{ (nbWish*100)//nbStudent }} %)
        </div>
        {% if WhishOpen %}
        <div class="list-group-item">
            <strong>Voeux :</strong> Ouvert
        </div>
        {% else %}
        <div class="list-group-item">
            <strong>Voeux :</strong> Fermé
        </div>
        {% endif %}
    </div>
    <div class="mt-4">
        <a href="{{ url_for('summary') }}" class="btn btn-primary">Résumé global</a>
        <a href="{{ url_for('classeSummary') }}" class="btn btn-primary">Résumé par classe</a>
        <a href="{{ url_for('switchWishStatus') }}" class="btn btn-danger">Ouvrir / Fermer les voeux</a>
    </div>
    {% else %}
    <div class="list-group">
        Auccun élève enregistré
    </div>
    {% endif %}
    
</div>
{% endblock %}
