{% extends "base.html" %}

{% macro render_field(field) %}
<div class="mb-3">
    <label for="{{ field.id }}" class="form-label">{{ field.label.text }}</label>
    {{ field(class="form-control", id=field.id) }}
    {% for error in field.errors %}
        <div class="text-danger mt-1">{{ error }}</div>
    {% endfor %}
</div>
{% endmacro %}

{% block content %}
<div class="container mt-5">
    <h1 class="mb-4">{{ title }}</h1>
    <form method="POST" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        
        <!-- Champs du formulaire -->
        {{ render_field(form.file) }}

        <!-- Bouton de soumission -->
        <div class="mt-3">
            {{ form.submit(class="btn btn-primary btn-lg") }}
        </div>
    </form>
</div>
{% endblock %}